body {
  background-color: #F8F8F8;
  padding-bottom: 80px;
}

.jumbotron{
 color: white;
 background-color: #663366;
}

footer{
  background-color:	#F8F8F8;
}

@media screen and (max-width: 530px) {
  .stateText {
    display: none;
  }

  .aText {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .aText {
    font-size: 13px;
  }
}
